@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@600&display=swap');

.win{
  width: 100vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fbc531;
  z-index: 1;
}

.top{
  top:0;
}

.bottom{
  bottom:0;
}

.win-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win-text{
  font-size: 92px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 12px;
  color: #ffffff;
}

.win-button{
  font-family: 'Cabin', sans-serif;
  width: 140px;
  height: 40px;
  background: #ffffff;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}

.win-button:hover{
  background: #dddddd;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .win-text{
    font-size: 72px;
  }

  .win-button{
    width: 120px;
    height: 38px;
    font-size: 18px;
  }
}

@media screen and (max-width: 768px) {
  .win-text{
    font-size: 52px;
  }

  .win-button{
    width: 100px;
    height: 34px;
    font-size: 16px;
  }
}
